/* Общие стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Макет контейнера для центрирования */
header, section, footer {
    padding: 60px 20px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

/* Секция Заголовок/Введение */
header {
    background-color: #007bff;
    color: white;
    padding: 100px 20px;
}

header h1 {
    margin-bottom: 5px;
}

.button {
    display: inline-block;
    background: white;
    color: #007bff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
}

/* Секция Обо мне */
#about {
    background-color: white;
}

.skills span {
    display: inline-block;
    background-color: #eee;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
    font-size: 0.9em;
}

/* Секция Проекты */
#projects {
    background-color: #e9e9e9;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.project-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    text-align: left;
}

/* Секция Контакты */
#contact a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

/* Футер */
footer {
    padding: 20px;
    background-color: #333;
    color: white;
    font-size: 0.8em;
}
